---
import ProjectCard from "./ProjectCard.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 lg:gap-8">
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
</div>